.logo{
    position: absolute;
    width: 6%;
    height: 10%;
    margin: auto 0;
    padding-left: 1%;
    border: 0px;
}

 img {   
    width: 99%;
    height: 70%;

  }

  .image-container {
    position: relative;
  }

  .button-container {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 7px;
  }


#mainSection{
    display: flex;
    flex-wrap: wrap; 
    align-content: flex-end;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem; 
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

.card {
    width: 25rem; 
    height: 30rem;
    font-size: smaller;
}

.card img{
    width: 100%;
    height: 100%;
}

#cardButtons{
   padding: 10px 5px;
}

#sizeButtons{
    padding: 10px 5px;}

.col-md-4 img{
    width: 100%;
    height: 98%;
}



.thumbnail.nav-tabs {
    border: none;
    margin-top: 170px; }
    .thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2%; }
      .thumbnail.nav-tabs li img {
        max-width: 100%;
        height: 99%;
        display: block; }
      .thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; 
}